<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.ayo_alpha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logowarna"
        android:label="AYO"
        android:supportsRtl="true"
        android:theme="@style/ayo">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".add_kegiatan"></activity>
        <activity
            android:name="com.example.root.ayo_alpha.MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/ayo"></activity>

    </application>

</manifest>